@media (max-width: 480px) {
    .container2 {
        max-width: 300px;
    }
}

#userId {
    padding: 8px;
    width: 300px;
    border-radius: 4px;
    border-style: solid;
    margin-right: 8px;
    border-style: solid;
    border-color: #f5f5f5;
    background-color: #fafafa;
}

#newTask {
    padding: 8px;
    width: 250px;
    border-radius: 4px;
    border-style: solid;
    margin-right: 8px;
    border-style: solid;
    border-color: #f5f5f5;
    background-color: #fafafa;
}


#container1 {
    position: relative;

    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


#container2 {
    background-color: #faefcc;
    padding: 8px;
    border-radius: 8px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    flex: 1;


    width: fit-content;

}

#nextcontainer1 {
    position: relative;

    display: grid;
    justify-content: center;
    align-items: center;

}


#nameUpdate {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: rgb(250, 239, 204, 0.45);

    border-style: solid;
    border-color: #f2edcd;
    border-width: 1.75px;
    border-radius: 8px;
    padding: 8px;
    width: fit-content;
    margin-bottom: 24px;
}

#taskMaker {
    display: flex;

}

#button1 {
    padding: 8px;
    border-radius: 4px;
    background-color: #3d67f1;
    color: white;
    border-style: solid;
    border-color: #adc6f0;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-items: center;


}

#button1:hover {
    padding: 8px;
    border-radius: 4px;
    background-color: #1b4df1;
    color: white;
    border-style: solid;
    border-color: #adc6f0;
    border-width: 2px;
    cursor: pointer;
}

#svg {
    margin-right: 2px;
}

#button2 {
    padding: 8px;
    border-radius: 4px;
    background-color: #3d67f1;
    color: white;
    border-style: solid;
    border-color: #adc6f0;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-items: center;


}

#button2:hover {
    padding: 8px;
    border-radius: 4px;
    background-color: #1b4df1;
    color: white;
    border-style: solid;
    border-color: #adc6f0;
    border-width: 2px;
    cursor: pointer;
}

#buttonGrid {
    display: flex;
    justify-content: center;
    align-items: center;

}

#secButton1 {
    padding: 8px;
    border-radius: 4px;
    background-color: white;
    color: #3d67f1;
    border-style: solid;
    border-color: #3d67f1;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 16px;

}

#secButton1:hover {
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(244, 248, 251);
    color: #3d67f1;
    border-style: solid;
    border-color: #3d67f1;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;

}

body {
    min-height: 100vh;
}

#appName {
    color: #1e2140;
}

.dot {
    height: 100px;
    width: 100px;
    background: linear-gradient(to top, #664ae3, #6f91f8);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -100%);
    filter: blur(10px);
    filter: opacity(100px);
    animation: moveDots 25s linear infinite;
}


.dot1 {
    height: 100px;
    width: 100px;
    background: linear-gradient(to top, #fff2bd, #6f91f8);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -100%);
    filter: blur(10px);
    filter: opacity(100px);
    animation: moveDots2 25s linear infinite;
}

#modal {
    background-color: rgb(250, 239, 204, 0.55);

    border-style: solid;
    border-color: #f2edcd;
    border-width: 1.75px;
    padding: 16px;
    border-radius: 8px;
    display: grid;
    justify-self: center;
    align-self: center;

}



@keyframes moveDots {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(calc(-50vw - 40px), 0);
    }

    50% {
        transform: translate(calc(-75vw - 40px), calc(-50vh - 40px));
    }

    75% {
        transform: translate(0, calc(50vh - 40px));
    }
}


@keyframes moveDots2 {

    0%,
    100% {
        transform: translate(80, 0);
    }

    25% {
        transform: translate(calc(10vw - 10px), 0);
    }

    50% {
        transform: translate(calc(-75vw - 10px), calc(50vh - 40px));
    }

    75% {
        transform: translate(0, calc(-50vh - 40px));
    }
}